<div class="container">
<h1><%= @data['symbol'] %></h1>
	<div id="inforow" class="row">
			<div id="symbolinfo">
					<div class="col-xs-4"  id="info_one">
						<p><strong>ASK:</strong> <%= @data['ask'] %></p>
						<p><strong>BID:</strong> <%= @data['bid'] %></p>
						<p><strong>OPEN:</strong> <%= @data['open'] %></p>
						<p><strong>PREV CLOSE:</strong> <%= @data['previous_close'] %></p>
					</div>	
					<div class="col-xs-4" id="info_three">
						<p>52wk RANGE: <%= @data['weeks_range_52'] %></p>
						<p>DAY'S RANGE: <%= @data['days_range'] %></p>
						<p>VOLUME: <%= @data['volume'] %></p>
						<p>AVG VOL(3m): <%= @data['average_daily_volume'] %></p>
						<p>MARKET CAP: <%= @data['market_capitalization'] %></p>
						<p>P/E RATIO: <%= @data['pe_ratio'] %></p>
					</div>
					<div class="col-xs-4" id="info_three">
						<p>EARNINGS PER SHARE: <%= @data['earnings_per_share'] %></p>
						<p>EBITDA: <%= @data['ebitda'] %></p>
						<p>REVENUE: <%= @data['revenue'] %></p>
						<p>DIVIDEND & YIELD: <%= @data['dividend_yield'] %></p>
						<p>SHARES OUTSTANDING: <%= @data['shares_outstanding'] %></p>
						<p>FLOAT: <%= @data['float_shares'] %></p>
					</div>
			</div>
	</div>
	<div id="chartrow" class="row">
		<div class="col-xs-12" id="chartdiv">
				<img width=100% height=100% src="https://chart.finance.yahoo.com/z?s=<%= @data['symbol'] %>&t=6m&q=l&l=on&z=s&p=m50,m200"/>
		</div>
	</div>
	<div id="calcrow" class="row">		
			<div id="calc">
				<script type="text/javascript">
					$(document).ready(function(){
						document.getElementById('submit').onclick=function(){
							 initial = parseInt(document.getElementById('initial_price').value)
							 final = parseInt(document.getElementById('final_price').value)
							 shares = parseInt(document.getElementById('shares').value)
							 buy = parseInt(document.getElementById('buy_commission').value)
							 sell = parseInt(document.getElementById('sell_commission').value)
							 roi = final / initial * 100 - 100
							 gross = (final - initial) * shares
							 net_p = gross - (buy + sell)
							 document.getElementById("net_profit").innerText = net_p;
							 document.getElementById("return_percent").innerText = roi.toFixed(2);
							};
						})
				</script>
				<h4>Profit/Loss Calculator</h4>
						<div class="col-xs-8" id="calc1">
							Initial Price:   $<input type="number" id="initial_price"><br>
							Final Price:     $<input type="number" id="final_price"><br>
							Shares:   &nbsp&nbsp&nbsp&nbsp #<input type="number" id="shares"><br>
							Buy Commission:  $<input type="number" id="buy_commission"><br>
							Sell Commission: $<input type="number" id="sell_commission"><br>
						</div>
						<div class="col-xs-4" id="calc2">
								<input type="submit" id="submit">		
								<p id="profit">Net Profit:<br> $<span id="net_profit"></span></p>
								<p id="profit">Return On Investment:<br> <span id="return_percent"></span>%</p>
						</div>
			</div>	
	</div>	
</div>






